* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

button {
	padding: 1rem 2rem;
	color: white;
	background-color: black;
	cursor: pointer;
}

.toastes {
	position: fixed;
	bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	right: 1rem;
}

.toast {
	margin: 0.5rem 1rem;
	background-color: aqua;
	padding: 0.6rem 1.2rem;
	color: #fff;
}

.toast.success {
	color: #37e8f1;
}

.toast.failure {
	color: rgb(249, 143, 5);
}

.toast.random {
	color: purple;
}
